@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* body {
    font-family: 'Lustria', serif;
} */

.text-lato {
    font-family: 'Lato', sans-serif;
}

.text-popins {
    font-family: 'Poppins', sans-serif;
}

.language.p-dropdown {
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: white;
    border: none;
    border-radius: 0%;
}

.language .p-dropdown-label {
    color: black!important;
    font-family: 'Lato', sans-serif;
}

.custom_pannel.p-dropdown {
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    border: none;
}

.p-dropdown-label {
    --tw-placeholder-opacity: 1!important;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity))!important;
    font-family: 'Lustria', serif;
}

.text-register {
    font-family: 'Hind', sans-serif;
}

.text-list {
    font-family: 'Quicksand', sans-serif;
}

.text-popup-register {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.detail-payment .p-dropdown-label {
    font-size: 13px;
}

.sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.source-sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}